@{ 
    Layout = null;
}

<ul class="navbar-nav" id="accordionSidebar">
    @{int number = 1; }
    @foreach (var category in Model)
    {
    <li class="nav-item" style="list-style:none;">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#num_@number"
           aria-expanded="true" aria-controls="num1">
            <span>@category.Name</span>
        </a>
        @if (category.InverseParents != null && category.InverseParents.Count > 0)
        {
            <div id="num_@number" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                
                <div class="bg-white py-2 collapse-inner rounded">
                    @foreach (var subCategory in category.InverseParents)
                    {
                        @if (subCategory.Status)
                        {
                            <a class="collapse-item" href="#">@subCategory.Name</a>
                        }
                    }
                </div>
                
            </div>
        }

    </li>
        { number++; }
    }


</ul>