<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AngkatSikat - Belanja Oleh-Oleh Online</title>


    <link href="~/Logo_Angkat.png" rel="shortcut icon" type="image/x-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Icons -->
    <link href="~/user-view/assets/css/nucleo-icons.css" rel="stylesheet">
    <link href="~/user-view/assets/css/font-awesome.css" rel="stylesheet">

    <!-- Jquery UI -->
    <link type="text/css" href="~/user-view/assets/css/jquery-ui.css" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="~/user-view/assets/css/argon-design-system.min.css" rel="stylesheet">

    <!-- Main CSS-->
    <link type="text/css" href="~/user-view/assets/css/style.css" rel="stylesheet">

    <!-- Optional Plugins-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link href="~/user-view/assets/css/dropdown.css" rel="stylesheet" />

    @*<link href="~/admin-view/css/sb-admin-2.css" rel="stylesheet">*@
    <link href="~/user-view/assets/css/category.css" rel="stylesheet">


    <link href="~/user-view/assets/css/modal.css" rel="stylesheet">
    <link href="~/user-view/assets/css/invoice.css" rel="stylesheet">
    <link href="~/admin-view/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">



</head>

<body>
        
    <partial name="homepage/_header">


        <!------------------------------------------
    SLIDER
    ------------------------------------------->
    
    

        <!-- Services -->
      
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    
        

        <partial name="homepage/_footer">

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        <!-- Core -->
        <script src="~/user-view/assets/js/core/jquery.min.js"></script>
        <script src="~/user-view/assets/js/core/popper.min.js"></script>
        <script src="~/user-view/assets/js/core/bootstrap.min.js"></script>
        <script src="~/user-view/assets/js/core/jquery-ui.min.js"></script>

        <!-- Data Tables-->
        <script src="~/admin-view/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/admin-view/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/admin-view/js/demo/datatables-demo.js"></script>


        <!-- Optional plugins -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

            

        <!-- Argon JS -->
        <script src="~/user-view/assets/js/argon-design-system.js"></script>

        <!-- Main JS-->
        <script src="~/user-view/assets/js/main.js"></script>
</body>

</html>