@{
    Layout = null;
}
<div class="single-icon shopping-cart">
    <a asp-controller="cart" asp-action="index"><i class="fa fa-shopping-cart fa-2x"></i></a>
    <span class="badge badge-default">@ViewBag.countItems</span>
</div>
