@{ ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

@model umkm_webapp.Areas.Admin.Models.ViewModels.ProductViewModel

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add New Product</h1>
</div>


<div class="col-lg">
    <div class="card">
        <div class="card-body">
            <form asp-area="admin" asp-controller="product" asp-action="add" method="post">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="form-control" id="Name" asp-for="Product.Name" required="required" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <textarea class="form-control" id="Description" asp-for="Product.Description" required="required" type="text"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Price</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="form-control" id="Price" asp-for="Product.Price" required="required" type="number" min="0">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Quantity</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="form-control" id="Quantity" asp-for="Product.Quantity" required="required" type="number" min="0">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Details</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <textarea class="form-control" id="Details" asp-for="Product.Details" required="required" type="text"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Category</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-control">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" asp-for="Product.Status" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">
                            Status
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" asp-for="Product.Featured" class="custom-control-input" id="customCheckFeatured">
                        <label class="custom-control-label" for="customCheckFeatured">
                            Featured
                        </label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                        <button type="submit" class="btn btn-primary btn-user btn-block" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Add New
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
            </div>
        </div>
    </div>
</div>
